NEXT_PUBLIC_XRPL_NETWORK=mainnet
NEXT_PUBLIC_XRPL_NODE_URL=wss://xrplcluster.com
NEXT_PUBLIC_XRPL_FALLBACK_URL=wss://s1.ripple.com
NEXT_PUBLIC_ANALYTICS_ENDPOINT=
NEXT_PUBLIC_IPFS_GATEWAY=https://ipfs.io/ipfs/
